<div class="link-wrapper-mobile">
    <!--<a href="mandos@postech.ac.kr">[Mail]</a>
    <span style="margin-left: 5px;"></span>-->
    <a href="https://scholar.google.com/citations?user=kqddtlwAAAAJ&hl=en&oi=ao">[Google Scholar]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/KimManjin" rel="me">[GitHub]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/KimManjin/KimManjin.github.io/blob/master/assets/img/ManjinKim_resume%20.pdf" rel="me">[CV]</a>
    <span style="margin-left: 5px;"></span>
    <!--<a href="https://twitter.com/BodunHu">[Twitter]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://www.bodunhu.com/blog/">[Blog]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/BDHU/minimalist">[Project Repository]</a>-->
</div>
